    body {
        background-color: lightgray;
        margin: 3%;

    }

    header {
        font-family: Georgia;
        border-bottom: 2px solid lightskyblue;
        font-size: 1em;
    }

    h1 {
        text-align: center;
    }


    .introduction {
        display: flex;
        padding: 1%;
        flex-wrap: wrap;
        border-bottom: 1px dotted lightskyblue;


    }

    img {
        max-width: 10em;
        height: 12em;
        border-radius: 10%;
        border-color: aquamarine;

    }

    .introduction p {
        padding: 3%;
        max-width: 70%;
        text-align: center;
    }


    .experience {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        border-bottom: 2px solid lightskyblue;

    }

    .experience>section {
        flex: 1;
        max-width: 50%;
        box-sizing: border-box;
    }


    .experience h2 {
        text-align: center;
    }

    .contact {
        text-align: center;
    }

    .contact ul {
        list-style: none;
        padding: 0;
    }


    @media only screen and (max-width: 600px) {

        body {
            text-align: center;
        }

        .introduction {
            flex-direction: column;
        }

        img {
            width: 100%;
            height: auto;
            margin: auto;
            /*Så bilden lägger sig i mitten av sidan ist för åt vänster*/
        }

        .introduction p {
            padding: 3%;
            flex: 1;
            max-width: 100%;

        }

        .experience {
            flex-direction: column;
            justify-content: initial;
        }

        .experiencelist {
            margin-right: auto;
            margin-left: auto;
        }

        .experience>section {
            flex: 1;
            max-width: 80%;
            box-sizing: border-box;
        }
    }